@model IEnumerable<mvccrudf.Models.student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="addstudent">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.studentname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.studentname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.studentphone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Skill.skillname)
                </td>
                <td>
                    <a asp-action="View" asp-route-id="@item.id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
